*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Magtis';
    src: url("czcionki/Magtis.otf") format("opentype");

}
@font-face {
    font-family:'Blackheat';
    src: url("czcionki/BlackHeat.ttf") format("opentype");

}
@font-face {
    font-family:'RecongTypeface';
    src: url("czcionki/RencongTypeface .ttf") format("opentype");
}


body{
background-image: url("zdjecia-styl2/304e7ec7d195ea7fe7addc8ced757245.jpg");
    background-attachment: fixed;
background-size:cover;
}
.cover{
    display:none;
}
.nav{
    width: 100%;
    padding:1rem 5%;
    background:#0E0543;
    backdrop-filter: blur(10px);
    margin-bottom:2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.Logo{
    font-family:"RecongTypeface";
    font-size: 1.8rem;
    font-weight: 700;
    color: #E7367D;
    letter-spacing: 1px;
    margin-right:auto;
}
.linkinawigacja{
    font-family:"RecongTypeface";
    list-style:none;
    display:flex;
    gap:2rem;
    
}
.linkinawigacja li a{
    position:relative;
    font-size: 1.05rem;
    font-weight:500;
    text-decoration: none;
    color: #E7367D;
    transition:0.3s;
}
.linkinawigacja li a:hover{
    color: black;
    text-shadow:0 0 10px black;
}
.butt{
    display:flex;
}
